<h1>南関競馬のレース一覧</h1>

<% @date_races.each do |date_race| %>
  <div class="row">
    <% date_race.places.each do |place| %>
      <div>
        <h2><%= date_race.date %> <%= place %></h2>
        <% date_race.races[place].each do |race| %>
          <p><%= link_to "#{race.number}R #{race.name}", nankan_race_path(race) %></p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>